*{
  margin: 0;
  padding: 0;
}

.login-container{
    height: 100vh;
    width: 100%;
    
    overflow-y: hidden;
    overflow-x: hidden;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,59,96,1) 35%, rgba(0,212,255,1) 100%); */
    /* background: rgb(94, 86, 86); */
}

.left-container{
    height: 100%;
    width: 90%;  
    
}
.left-side{
    background-color:rgb(202, 153, 247);
    height: 100vh;

}
.right-side{

width:80%;
margin-left: 5%;
  
}
 .label{
    padding: 10px;
    font-size: 2rem;

}
.role-option{
    padding: 10px;
    width: 50%;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    background-color: #f8f8f8;
  }
  
  .login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  a{
    float: right;
  }

  
  
  