.container-admin{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
  }
.container-left{
    width: 50vw;
    height: 100vh;
    background-color: aqua;
  }
.container-right{
    width: 50vw;
    height: 100vh;
    background-color: blue;
  }